h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    position: absolute;
    top: 70px;
    left: 580px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    font-size: 1.7em;
    width: 100%;
    padding: 1px;
    margin-bottom: 15px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


img {
    width: 100%;
    margin-top: 20%;
    height: auto;
    display: block;
    clip-path: polygon(0 60%, 100% 0, 100% 92%, 0 92%);
}

body{
    background-color: antiquewhite;
}

label[for="openForBooking"] {
    display: flex;
    align-items: center;
}

input[name="openForBooking"] {
    margin-left: -182px;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    h2 {
        position: relative;
        font-size: 1.5em;
        top: 30px;
        left: 40px;
        margin: 0;
    }

    label {
        margin-left: 5px;
        margin-bottom: 18px;
    }

    input {
        font-size: 0.7em;
    }

    img{
        position: relative;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 1px;
    }
   
    input[name="openForBooking"] {
        margin-left: -182px;
        margin-top: -30px;
    }
}
