#head-img {
    position: relative;
    width: 650px;
    height: 500px;
    left: 700px;
    top: 50px;
    border-radius: 15px;
    display: block;
    z-index: 0;
}

h2 {
    font-size: 3em;
    color: #333;
    position: absolute;
    top: 70px;
    left: 60px;
}

#location,
#beds,
#price {
    font-size: 1.4em;
    line-height: 1.6;
    position: absolute;
    margin: 0;
}

#location {
    top: 200px;
    left: 80px;
}

#beds {
    top: 240px;
    left: 80px;
}

#price {
    top: 280px;
    left: 80px;
}

#deleteBtn {
    left: 19%;
}

#editBtn {
    left: 15%;
}

#editBtn,
#deleteBtn {
    position: absolute;
    top: 580px;
    padding: 10px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

#editBtn:hover,
#deleteBtn:hover {
    background-color: #0056b3;
}

#calendar-head {
    position: absolute;
    top: 670px;
    margin-left: 100px;
}

.calendar {
    padding: 1em;
    background-color: antiquewhite;
    margin-top: 15px;
    position: absolute;
    top: 750px;
    left: 100px;
    width: 200px;
    border-radius: 16px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.07);
}

label {
    margin-bottom: 15px;
}

li {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: rgba(255, 255, 240, 0.7);
    padding: 10px;
    border-radius: 16px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.07);
}

#amenities {
    margin-left: 700px;
    margin-top: 200px;
}


#description {
    padding: 10px;
    width: 400px;
    text-align: center;
    background-color: antiquewhite;
    margin-top: 20px;
    position: absolute;
    top: 380px;
    left: 60px;
    border-radius: 16px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.07);
    z-index: 2;
}

#requests {
    position: absolute;
    top: 670px;
    left: 220px;
}

#request-list {
    position: absolute;
    width: 180px;
    top: 770px;
    left: 140px
}

.accept-link,
.reject-link {
    margin-top: 10px;
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(130, 255, 130);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.reject-link {
    background-color: rgb(255, 131, 131);
}

#amenities-head {
    position: absolute;
    left: 980px;
    top: 670px;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    h2 {
        font-size: 1.3em;
        top: 6%;
        left: 32%;
    }

    #location,
    #beds,
    #price {
        font-size: 0.8em;
        line-height: 1.6;
        position: absolute;
        margin: 0;
    }

    #location {
        top: 380px;
        left: 30px;
    }

    #price {
        top: 400px;
        left: 30px;
    }

    #beds {
        top: 420px;
        left: 30px;
    }

    #description {
        padding: 10px;
        width: 120px;
        font-size: 0.6em;
        margin-top: 20px;
        top: 450px;
        left: 20px;
    }

    #editBtn,
    #deleteBtn {
        top: 600px;
        left: 10%;
        font-size: 0.7em;
        margin-top: 5%;
    }

    #deleteBtn {
        left: 25%;
    }

    #head-img {
        width: 384px;
        height: 240px;
        left: 0px;
        top: 75px;
        border-radius: 15px;
        display: block;
        z-index: 0;
    }

    #requests {
        font-size: 0.8em;
        top: 370px;
        left: 245px;
    }


    #request-list {
        font-size: 0.7em;
        width: 133px;
        top: 470px;
        left: 180px;
    }

    #amenities-head {
        font-size: 0.7em;
        position: absolute;
        left: 160px;
        top: 670px;
    }
    
    #amenities {
        margin-left: 35px;
        margin-top: 440px;
        font-size: 0.6em;
    }
    
    li {
        width: 80px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    #calendar-head {
        font-size: 0.7em;
        top: 370px;
        margin-left: 200px;
    }

    .calendar {
        font-size: 0.7em;
        width: 130px;
        top: 450px;
        left: 195px;
        margin: 0;
    }    




}