h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-left: 560px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    position: relative; 
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    font-size: 1.7em;
    width: 100%;
    padding: 1px;
    margin-bottom: 15px;
}

button {
    position: absolute;
    margin-top: 40px;
    left: 40%;
    background-color: #007BFF;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    width: 100%;
    margin-top: 20px;
    height: auto;
    display: block;
    clip-path: polygon(0 60%, 100% 0, 100% 92%, 0 92%);
}

body {
    background-color: antiquewhite;
}

label[for="openForBooking"],
label[for="promo"],
input[name="feat"]{
    display: flex;
    align-items: center;
}

input[name="openForBooking"],
input[name="promo"] {
    margin-left: -182px;
}
 
input[name="feat"]{
    width: 50px;
    height: 20px;
    margin-bottom: -22px;
    margin-left: 95%;
    margin-top: 19px;
    font-size: 1.5em;
} 


@media only screen and (min-width: 320px) and (max-width: 480px) {
    h2 {
        position: relative;
        font-size: 1.5em;
        top: 30px;
        left: 40px;
        margin: 0;
    }

    label {
        margin-left: 5px;
        margin-bottom: 18px;
    }

    input {
        font-size: 0.7em;
    }

    img{
        position: relative;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 1px;
    }
   
    input[name="openForBooking"] {
        margin-left: -182px;
        margin-top: -30px;
    }

    input[name="feat"]{
        margin-left: 85%;
    } 
}
