body {
    width: 100%;
    background-color: antiquewhite;
}

.room-card{
    float: left;
    width: 300px;
    border-radius: 16px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    margin: 32px;
    padding: 16px 32px;
    background-color: white;
}

label{
    display: block;
}

.own-room{
    background-color: rgb(171, 184, 200);
}

/* navigation */

nav {
    background-color: #333;
    padding: 18px;
    margin-top: -10px;
    margin-left: -10px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

nav {
    text-align: right;
}

/* home */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
